<div class="project">
    <div class="project-img cover-img">
        <img :src="image" alt="" class="image">
    </div>
    <div class="project-descr">
        <div class="project-header">
            <div class="project-icon">
                <img :src="imageSmall" alt="">
            </div>
            <div class="project-text">
                <div class="project-title">{{ title }}</div>
                <div class="project-subtitle">{{ subtitle }}</div>
            </div>
        </div>
        <div class="body">{{ text }}</div>
    </div>
</div>