<div class="project">
    <div @click="showPopup=true">
        <div class="project-img cover-img">
            <img :src="image" alt="" class="image">
        </div>
        <div class="project-descr">
            <div class="project-header">
                <div class="project-icon contain-img">
                    <img :src="imageSmall" alt="" class="image">
                </div>
                <div class="project-text">
                    <div class="project-title">{{ title }}</div>
                    <div class="project-subtitle">{{ subtitle }}</div>
                </div>
            </div>
            <div class="project-body" :title="text">{{ text | truncate(50, '...') }}</div>
        </div>
    </div>

    <Popup v-if="showPopup" @close="showPopup=false">
        <h3 slot="header">//{{ title }}</h3>
            <div slot="body" class="project-full">
                <div class="project-full-image cover-img">
                    <img :src="imageBig" alt="" class="image">
                </div>
                <div class="project-full-text">
                    {{ text }}
                </div>
            </div>
    </Popup>
</div>