<header ref="header" class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-burger" @click="activeMenu = !activeMenu">&nbsp;</div>
            <transition name="slide">
                <div class="header-menu" v-if="activeMenu">
                    <button class="header-menu-close" @click="activeMenu = !activeMenu">
                        <img src="../../assets/images/close.svg" alt="">
                    </button>
                    <div class="header-menu-inner">
                        <a href="#" class="header-logo for-img"><img src="../../assets/images/logo.svg" alt=""></a>
                        <nav class="header-nav nav">
                            <a v-for="menuLink in menu" :href="menuLink.url" :title="menuLink.text" class="nav-link">// {{ menuLink.text }}</a>
                        </nav>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</header>
