<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-left">MAKE // CREATE</div>
            <Button :buttonClass="'btn'" :buttonLink="'google.com'">Hello!</Button>
            <div class="footer-right">
                <nav class="footer-nav">
                    <a href="#" class="footer-nav-link">Impressum</a>
                    <a href="#" class="footer-nav-link">Datenschutz</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
